[Unit]
Description=SMB notifier service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/smbnotifier /root/smbnotifier_config.json

[Install]
WantedBy=multi-user.target
